body 
{ 
    margin: 0 ;
}
a , p , h1 ,h2 , h3 , h4 ,  .btn 
{ 
    font-family: "Raleway";
}
a 
{ 
    text-decoration: none ;
    font-weight: 500;
}
a , p  , h3 
{ 
    font-size:  20px ;
}
h1 
{ 
    font-size: 60px ;
}
h2 
{ 
    font-size: 40px ;
}